CSharpNation/CSharpNation/bin/Release/Resources/
CSharpNation/CSharpNation/bin/Release/Resources/Bcg
CSharpNation/CSharpNation/bin/Release/Resources/BackgroundConfig.txt
CSharpNation/CSharpNation/bin/Debug/Resources/BackgroundConfig.txt