<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSharpNation.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <CSharpNation.AppSettings>
            <setting name="Background_Dim" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="N_Particles" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Background_Change_Seconds" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Auto_Change_Background" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wave_Enhancements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logo_Left_Offset" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Logo_Right_Offset" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Logo_Top_Offset" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Logo_Bottom_Offset" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Enable_Background_Movement" serializeAs="String">
                <value>True</value>
            </setting>
        </CSharpNation.AppSettings>
    </userSettings>
</configuration>